@media only screen and (max-width: 1000px) {
    #jumbotron {
        flex-direction: column;
    }

    .content-jumbotron {
        width: 100%;
        text-align: center;
        margin-top: 15vh;
    }
}

@media only screen and (max-width: 715px) {
    header {
        padding-left: 5vh;
        justify-content: space-between;
        flex-direction: column;
    }

    #search {
        padding: 2vh 2vh;
        margin-top: 3vh;
        margin-right: 10vh;
    }

    .card {
        width: 100%;
        margin: 20px 10px;
    }
}